@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "iranSans";
  src: url("fonts/IRANSans4/IRANSans_Medium.ttf") format("truetype");
}

@font-face {
  font-family: "iranSansWeb";
  src: url("fonts/IRANSansWeb(FaNum)-Pack/fonts/ttf/IRANSansWeb(FaNum).ttf")
    format("truetype");
}

@layer base {
  body {
    @apply font-iranSans bg-grey text-mainColor;
  }
}

@layer components {
  .section-container {
    @apply container mx-auto py-4 px-3;
  }
}

.swiper-wrapper {
  padding: 15px;
  margin: 10px;
}

.swal-footer {
  text-align: center;
}
